.carList {
    margin-top: 20px;
  }
  
  .header {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr 1fr;
    background-color: #f4f4f4;
    padding: 10px;
    font-weight: bold;
  }
  
  .carItem {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr 1fr;
    padding: 10px;
    border-top: 1px solid #ddd;
    align-items: center;
  }
  
  .carItem:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .button {
    width: 20px;
  } 

  .btn-delete{
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  